<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/exception.css}">
    <title>Exception</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container d-flex justify-content-center align-items-start">
            <div class="error-box">
                <h1 th:text="'Error ' + ${errorResponse.statusCode}">Error</h1>
                <p th:text="${errorResponse.message}" style="font-size: 24px; font-weight: bold;"></p>
                <p class="timestamp" th:text="'Timestamp: ' + ${#temporals.format(errorResponse.timestamp, 'MMMM dd, yyyy hh:mm a')}"></p>
            </div>
        </div>
    </div>
</body>

</html>